.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
spice-autorandr
spice-autorandr.o
stamp-h1
*.tar.*
